* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
--text-color: white;
--bg-url: #212121;
}

.light{
  --text-color: #212121;
  --bg-url: white;
}

body * {
font-family: 'New Athletic M54', sans-serif;                
color: var(--text-color);                 
}

body {
  background-color: var(--bg-url);
}

#container {
 width: 300px;
 margin: 56px auto 0px auto;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 220px;
}

#profile p {
font-weight: 500 ;
line-height: 24px;
margin-top: 40px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 24px;

background: rgba(300, 300, 300, 0.1);
border: 1px solid var(--text-color);
border-radius: 8px;

backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
text-decoration: none;
font-weight: 500;
transition: background 0.2s;
}

ul li a:hover{
  border-top-width: 0.2em;
  background-color: var(--bg-url);
}


.card {
  width: fit-content;
  height: fit-content;
  background-color: var(--bg-url);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px var(--bg-url);
}

/* for all social containers*/
.socialContainer {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-url);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* github*/
.containerTwo:hover {
  background-color: #171515;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 30px;
}

.socialSvg path {
  fill: var(--text-color);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer{
  padding: 24px;
  text-align: center;
  font-size: 14px;
  color: #696969;
}


 




